.alert-box {
	background-color: skyblue;
	padding: 20px;
	color: white;
	border-radius: 5px;
	font-size: 2em;
	display: none;
}
.alert-btn {
	width: 300px;
	height: 50px;
	background-color: yellow;
	border: 2px solid greenyellow;
	color: black;
	font-size: 20px;
}
.list-group {
	/* display: none; */
	max-height: 0;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.show {
	/* display: block; */
	max-height: 100vh;
}
.black-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}
.noneModal {
	visibility: visible;
	opacity: 1;
}
.white-bg {
	background: white;
	border-radius: 5px;
	padding: 30px;
}
.mainBg {
	padding: 100px 20px;
	background-color: lightgray;
}

.slide-container {
	width: 300vw;

	transition: all 1s;
}
.slide-box {
	width: 100vw;
	float: left;
}
.slide-box img {
	width: 100%;
}

